<div class="container-def container-menu">
  <ul class="py-2">
    <li>
      <a [routerLink]="['/users', username]">
        <div class="menu-item-box menu-item-hover">
          <span class="material-icons menu-item-icon align-middle">account_circle</span>
          <span class="menu-item-name align-middle">Моя сторінка</span>
        </div>
      </a>
    </li>
    <li>
      <a [routerLink]="['/news']">
        <div class="menu-item-box menu-item-hover">
          <span class="material-icons menu-item-icon align-middle">article</span>
          <span class="menu-item-name align-middle">Стрічка новин</span>
        </div>
      </a>
    </li>
    <li>
      <a [routerLink]="['/messenger']">
        <div class="menu-item-box menu-item-hover">
          <span class="material-icons menu-item-icon align-middle">question_answer</span>
          <span class="menu-item-name align-middle">Повідомлення</span>
          <span class="counter" *ngIf="numOfMessages > 0">
            {{numOfMessages}}
          </span>
        </div>
      </a>
    </li>
    <li class="nav-item">
      <a [routerLink]="['/users', username, 'friends']">
        <div class="menu-item-box menu-item-hover">
          <span class="material-icons menu-item-icon align-middle">people_alt</span>
          <span class="menu-item-name align-middle">Друзі</span>
          <span class="counter" *ngIf="numOfRequestsToFriends > 0">
            {{numOfRequestsToFriends}}
          </span>
        </div>
      </a>
    </li>
    <li class="nav-item">
      <a [routerLink]="['/settings']">
        <div class="menu-item-box menu-item-hover">
          <span class="material-icons menu-item-icon align-middle">settings</span>
          <span class="menu-item-name align-middle">Налаштування</span>
        </div>
      </a>
    </li>
  </ul>
</div>
