.sidebar {
  position: fixed;
  top: 4.5rem;
  z-index: 0;
  width: 13%;
  margin-left: 12%;

  .links {
    margin: 1rem 0;

    ul {
      list-style-type: none;
      padding-left: 0;


      a {
        text-decoration: none;

        .link-box {
          padding: 0.3rem;

          .link-icon {
            margin-left: 0.5rem;
            color: #5181b8;
          }

          .link-name {
            margin-left: 0.5rem;
            color: black;
          }

        }

        .link-box:hover {
          background-color: #f6f6f6;
        }

      }

    }

  }

}
