<div class="container-def container-menu">
  <ul class="py-2">
    <li>
      <button class="menu-item" (click)="goToMyAccount()">
        <span class="material-icons menu-item-icon align-middle">account_circle</span>
        <span class="menu-item-name">Моя сторінка</span>
      </button>
    </li>
    <li>
      <button class="menu-item">
        <span class="material-icons menu-item-icon align-middle">article</span>
        <span class="menu-item-name">Новини</span>
      </button>
    </li>
    <li>
      <button class="menu-item">
        <span class="material-icons menu-item-icon align-middle">question_answer</span>
        <span class="menu-item-name">Повідомлення</span>
      </button>
    </li>
    <li>
      <button class="menu-item">
        <span class="material-icons menu-item-icon align-middle">people_alt</span>
        <span class="menu-item-name">Друзі</span>
      </button>
    </li>
    <li class="nav-item">
      <button class="menu-item">
        <span class="material-icons menu-item-icon align-middle">settings</span>
        <span class="menu-item-name">Налаштування</span>
      </button>
    </li>
  </ul>
</div>
