<div class="container-def container-menu">
  <ul class="py-2">
    <li>
      <a [routerLink]="['/users', username]">
        <div class="link-box">
          <span class="material-icons link-icon align-middle">account_circle</span>
          <span class="link-name">Моя сторінка</span>
        </div>
      </a>
    </li>
    <li>
      <a [routerLink]="['/news']">
        <div class="link-box">
          <span class="material-icons link-icon align-middle">article</span>
          <span class="link-name">Новини</span>
        </div>
      </a>
    </li>
    <li>
      <a href="#">
        <div class="link-box">
          <span class="material-icons link-icon align-middle">question_answer</span>
          <span class="link-name">Повідомлення</span>
        </div>
      </a>
    </li>
    <li class="nav-item">
      <a [routerLink]="['/users', username, 'friends']">
        <div class="link-box">
          <span class="material-icons link-icon align-middle">people_alt</span>
          <span class="link-name">Друзі</span>
        </div>
      </a>
    </li>
    <li class="nav-item">
      <a [routerLink]="['/settings']">
        <div class="link-box">
          <span class="material-icons link-icon align-middle">settings</span>
          <span class="link-name">Налаштування</span>
        </div>
      </a>
    </li>
  </ul>
</div>
