### IntelliJ and WebStorm IDEA directory ###
.idea

### Maven Wrapper directory ###
.mvn

### Maven target directory ###
target

### Node modules directory ###
node_modules


### Angular directory ###
.angular

### Generated css files ###
*.css
*.css.map