
.small-people-box {
  width: 60px;
  padding: 0;
  margin-inline: 0.55rem;
}

.small-circle-icon {
  object-fit: cover;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.text-title {
  font-size: 20px;
}
