<app-header></app-header>

<div class="block-main">
  <div class="row">
    <div class="col-22pr px-def">
      <div class="container-def block-side-panel overflow-hidden">
        <div class="p-3">
          <img [src]="userProfileInfo.avatarUrl" class="icon">
        </div>
        <div class="text-center">
          <span>{{userProfileInfo.firstName}} {{userProfileInfo.lastName}}</span>
        </div>
        <hr class="hr-def">
        <div class="block-info px-3">
          <p *ngIf="userProfileInfo.aboutYourself">Про себе: <span class="info-label">{{userProfileInfo.aboutYourself}}</span></p>
          <p *ngIf="userProfileInfo.dateOfBirth">Вік: <span class="info-label">{{calcAge()}}</span></p>
          <p *ngIf="userProfileInfo.city">Місто: <span class="info-label">{{userProfileInfo.city}}</span></p>
        </div>
        <div class="block-info px-3" *ngIf="showAdditionalInfo">
          <hr class="hr-def">
          <p *ngIf="userProfileInfo.dateOfBirth">Дата народження: <span class="info-label">{{userProfileInfo.dateOfBirth | date: 'dd.MM.yyyy'}}</span></p>
          <p *ngIf="userProfileInfo.school">Школа: <span class="info-label">{{userProfileInfo.school}}</span></p>
          <p *ngIf="userProfileInfo.university">Університет: <span class="info-label">{{userProfileInfo.university}}</span></p>
        </div>
        <div class="text-center">
          <button type="button" class="inp-def-form btn-hidden btn-info-cst" (click)="toggleShowAdditionalInfo()">
            <span
              class="material-icons align-middle">{{showAdditionalInfo ? 'keyboard_double_arrow_up' : 'keyboard_double_arrow_down' }}</span>
          </button>
        </div>
      </div>
    </div>
    <div class="col-56pr px-def">
      <div class="container-def p-3 mb-3">
        <div>
          <p class="form-label">Фотографії <span class="text-gray-1">2</span></p>
        </div>
        <div class="images-list">
          <div class="image-item">
            <img src="../../assets/my.jpg" class="image">
          </div>
          <div class="image-item">
            <img src="../../assets/my.jpg" class="image">
          </div>
          <div class="image-item">
            <img src="../../assets/my.jpg" class="image">
          </div>
          <div class="image-item">
            <img src="../../assets/my.jpg" class="image">
          </div>
          <div class="image-item">
            <img src="../../assets/my.jpg" class="image">
          </div>
          <div class="image-item">
            <img src="../../assets/my.jpg" class="image">
          </div>
          <div class="image-item">
            <img src="../../assets/my.jpg" class="image">
          </div>
          <div class="image-item">
            <img src="../../assets/my.jpg" class="image">
          </div>
          <div class="image-item">
            <img src="../../assets/my.jpg" class="image">
          </div>
          <div class="image-item">
            <img src="../../assets/my.jpg" class="image">
          </div>
          <div class="image-item">
            <img src="../../assets/my.jpg" class="image">
          </div>
        </div>
      </div>
      <div class="container-def p-3 mb-3">
        <div class="row">
          <div class="col">
            <span class="form-label">Пости <span class="text-gray-1">2</span></span>
          </div>
          <div class="col">
            <button class="inp-small-form btn-hidden float-end" type="button" (click)="toggleShowPosts()">
              <span class="material-icons align-middle">{{showPosts ? 'visibility_off' : 'visibility' }}</span>
            </button>
          </div>
        </div>
      </div>
      <div *ngIf="showPosts">
        <div class="container-def p-3 mb-3">
          <div class="mb-2">
            <img src="../../assets/my.jpg" class="image-post">
          </div>
          <div>
            <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus doloremque dolores doloribus, laborenisi quasi sequi sint ut voluptatem voluptates?</span>
          </div>
          <div>
            <hr class="hr-def">
          </div>
          <div>
            <div class="row">
              <div class="col">
                <div>
                  <button class="inp-small-form btn-like-cst" type="button">
                    <span class="material-icons align-middle">favorite</span>
                  </button>
                </div>
              </div>
              <div class="col">
                <div class="float-end">
                  <span class="material-icons align-middle text-red-1">favorite</span>
                  <span class="ms-1 me-2">2</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-22pr px-def">
      <div class="block-side-panel">
        <div class="mb-3">
          <app-menu></app-menu>
        </div>
        <div class="container-def p-3">
          <div>
            <p class="form-label">Друзі <span class="text-gray-1">2</span></p>
          </div>
          <div class="row">
            <div class="icon-small-box">
              <a href="#" class="link-def">
                <div>
                  <img src="../../assets/my.jpg" class="icon-small">
                </div>
                <div class="text-center">
                  <p class="form-label">Андрій</p>
                </div>
              </a>
            </div>
            <div class="icon-small-box">
              <a href="#" class="link-def">
                <div>
                  <img src="../../assets/my.jpg" class="icon-small">
                </div>
                <div class="text-center">
                  <p class="form-label">Андрій</p>
                </div>
              </a>
            </div>
            <div class="icon-small-box">
              <a href="#" class="link-def">
                <div>
                  <img src="../../assets/my.jpg" class="icon-small">
                </div>
                <div class="text-center">
                  <p class="form-label">Андрій</p>
                </div>
              </a>
            </div>
            <div class="icon-small-box">
              <a href="#" class="link-def">
                <div>
                  <img src="../../assets/my.jpg" class="icon-small">
                </div>
                <div class="text-center">
                  <p class="form-label">Андрій</p>
                </div>
              </a>
            </div>
            <div class="icon-small-box">
              <a href="#" class="link-def">
                <div>
                  <img src="../../assets/my.jpg" class="icon-small">
                </div>
                <div class="text-center">
                  <p class="form-label">Андрій</p>
                </div>
              </a>
            </div>
            <div class="icon-small-box">
              <a href="#" class="link-def">
                <div>
                  <img src="../../assets/my.jpg" class="icon-small">
                </div>
                <div class="text-center">
                  <p class="form-label">Андрій</p>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
