<app-header></app-header>
<app-menu></app-menu>

<div class="info-block">
  <div class="row">
    <div class="col-5">
      <div class="custom-container p-2 mb-3">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus accusantium alias aperiam atque
          consectetur culpa dignissimos distinctio dolor, doloribus eius eligendi, esse explicabo in, iusto molestiae
          mollitia nobis ratione saepe sit! Accusamus asperiores atque dolores et, excepturi exercitationem fugit
          inventore laborum magnam maxime molestiae nihil officia porro reprehenderit tenetur?</p>
      </div>
      <div class="custom-container p-2">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus accusantium alias aperiam atque
          consectetur culpa dignissimos distinctio dolor, doloribus eius eligendi, esse explicabo in, iusto molestiae
          mollitia nobis ratione saepe sit! Accusamus asperiores atque dolores et, excepturi exercitationem fugit
          inventore laborum magnam maxime molestiae nihil officia porro reprehenderit tenetur?
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus accusantium alias aperiam atque
          consectetur culpa dignissimos distinctio dolor, doloribus eius eligendi, esse explicabo in, iusto molestiae
          mollitia nobis ratione saepe sit! Accusamus asperiores atque dolores et, excepturi exercitationem fugit
          inventore laborum magnam maxime molestiae nihil officia porro reprehenderit tenetur?
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus accusantium alias aperiam atque
          consectetur culpa dignissimos distinctio dolor, doloribus eius eligendi, esse explicabo in, iusto molestiae
          mollitia nobis ratione saepe sit! Accusamus asperiores atque dolores et, excepturi exercitationem fugit
          inventore laborum magnam maxime molestiae nihil officia porro reprehenderit tenetur?</p>
      </div>
    </div>
    <div class="col-7">
      <div class="custom-container p-2 mb-3">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus accusantium alias aperiam atque
          consectetur culpa dignissimos distinctio dolor, doloribus eius eligendi, esse explicabo in, iusto molestiae
          mollitia nobis ratione saepe sit! Accusamus asperiores atque dolores et, excepturi exercitationem fugit
          inventore laborum magnam maxime molestiae nihil officia porro reprehenderit tenetur?</p>
      </div>
      <div class="custom-container p-2">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus accusantium alias aperiam atque
          consectetur culpa dignissimos distinctio dolor, doloribus eius eligendi, esse explicabo in, iusto molestiae
          mollitia nobis ratione saepe sit! Accusamus asperiores atque dolores et, excepturi exercitationem fugit
          inventore laborum magnam maxime molestiae nihil officia porro reprehenderit tenetur?
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus accusantium alias aperiam atque
          consectetur culpa dignissimos distinctio dolor, doloribus eius eligendi, esse explicabo in, iusto molestiae
          mollitia nobis ratione saepe sit! Accusamus asperiores atque dolores et, excepturi exercitationem fugit
          inventore laborum magnam maxime molestiae nihil officia porro reprehenderit tenetur?</p>
      </div>
    </div>
  </div>
</div>
