<div class="container container-def container-restore">
  <form #form="ngForm" (ngSubmit)="onSubmit(form)">
    <div class="pt-4 pb-1 text-center">
      <h5>Вкажіть email</h5>
    </div>
    <div class="d-flex justify-content-center">
      <div class="w-75">
        <div class="text-center text-gray">
          <p>Будь ласка, вкажіть email, який прив'язаний до вашого облікового запису.</p>
        </div>
        <div class="py-2">
          <input name="email" type="email" ngModel class="form-control" placeholder="Email"
                 [class.is-invalid]="email.touched && email.invalid"
                 [class.is-valid]="email.touched && email.valid"
                 #email="ngModel" email required>
        </div>
        <div class="invalid-feedback px-2"
             [class.d-block]="errorMessages.has(email.name)  && email.invalid">{{errorMessages.get(email.name)}}</div>
        <div class="py-4 text-center">
          <input type="submit" class="inp-def-form btn-def" value="Змінити пароль">
        </div>
      </div>
    </div>
  </form>
</div>
