<div class="container custom-container w-30 mt-5">
  <form>
    <div class="pt-4 pb-1 text-center">
      <h5>Вкажіть email</h5>
    </div>
    <div class="d-flex justify-content-center">
      <div class="w-75">
        <div class="text-center custom-text-info">
          <p>Будь ласка, вкажіть email, який прив'язаний до вашого облікового запису.</p>
        </div>
        <div class="py-2">
          <input type="email" class="form-control" placeholder="Email" required>
        </div>
        <div>
          <p>Тут має бути reCAPTCHA</p>
          <span class="material-icons">sentiment_satisfied_alt</span>
        </div>
        <div class="py-4 text-center">
          <input type="button" class="btn btn-def" value="Відновити пароль">
        </div>
      </div>
    </div>
  </form>
</div>
