<app-header></app-header>
<div class="block-main">
  <div class="row">
    <div class="col-22pr px-def">
      <div class="block-side-panel">
        <div class="container-def p-3 mb-3" style="height: 40rem">
          <p class="text-center" style="font-size: 3rem; padding-top: 5rem">Тут може бути ваша реклама!!!</p>
        </div>
      </div>
    </div>
    <div class="col-56pr px-def">
      <input type="button" class="w-100 inp-def-form mb-3 btn-refresh" (click)="loadPostList()" value="Оновити стрічку">
      <div class="container-def p-3 mb-3" *ngFor="let post of postList">
        <a [routerLink]="['/users', post.shortUserInfo.username]" class="link-def">
          <div class="ms-2">
            <div class="d-inline-block pe-2 position-relative">
              <img [src]="post.shortUserInfo.avatarUri" class="icon-super-small">
              <span *ngIf="post.shortUserInfo.online" class="online-symbol-post-user-icon  material-icons align-middle">noise_control_off</span>
            </div>
            <div class="d-inline-block">
              <p class="form-label">{{post.shortUserInfo.firstName}} {{post.shortUserInfo.lastName}}</p>
            </div>
          </div>
        </a>
        <hr class="hr-def my-2">
        <div class="post-image-item mb-2">
          <div class="text-center" *ngIf="post.photoUri">
            <input type="image" [src]="post.photoUri" class="image-post" (click)="viewPostPhoto(post)">
          </div>
        </div>
        <div class="px-2" *ngIf="post.text">
          <span>{{post.text}}</span>
        </div>
        <div>
          <hr class="hr-def mt-2">
        </div>
        <div>
          <div class="row">
            <div class="col">
              <span class="ms-2">{{post.creationTime | date: 'dd.MM.yyyy'}}</span>
            </div>
            <div class="col">
              <button class="inp-small-form btn-hidden float-end me-2" type="button" (click)="changePostLike(post)">
                <span class="material-icons align-middle"
                      [class.text-red]="post.like"
                      [class.text-gray]="!post.like"
                >favorite</span>
                <span class="ms-1">{{post.numOfLikes}}</span>
              </button>
            </div>
          </div>
        </div>
      </div>
      <input type="button" class="w-100 inp-def-form mb-3 btn-refresh"
             [class.d-none]="hideMoreButton"
             (click)="loadPostListBlock()" value="Більше">
    </div>
    <div class="col-22pr px-def">
      <div class="block-side-panel">
        <div class="mb-3">
          <app-menu [numOfMessages]="menuData.numOfMessages"
                    [numOfRequestsToFriends]="menuData.numOfRequestsToFriends"></app-menu>
        </div>
        <div>
          <input type="button" [ngClass]="hideUpButton ? 'invisible': 'visible'" (click)="goUp()"
                 class="w-100 inp-def-form mb-3 btn-refresh" value="Вверх">
        </div>
      </div>
    </div>
  </div>
</div>
