<div class="container container-def container-reg">
  <form #form="ngForm" (ngSubmit)="onSubmit(form)">
    <div class="py-4 text-center">
      <h5>Реєстрація</h5>
    </div>
    <div class="px-4">
      <div class="row py-2">
        <div class="col">
          <input type="text" class="form-control" placeholder="Ім'я" name="firstName" [(ngModel)]="regForm.firstName"
                 [class.is-invalid]="firstName.touched && firstName.invalid"
                 [class.is-valid]="firstName.touched && firstName.valid"
                 #firstName="ngModel" required [minlength]="getMinFirstNameLength()" [maxlength]="getMaxFirstNameLength()">
          <div class="invalid-feedback px-2"
               [class.d-block]="errorMessages.has(firstName.name) && firstName.invalid">{{errorMessages.get(firstName.name)}}</div>
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="Прізвище" name="lastName"
                 [(ngModel)]="regForm.lastName"
                 [class.is-invalid]="lastName.touched && lastName.invalid"
                 [class.is-valid]="lastName.touched && lastName.valid"
                 #lastName="ngModel" required [minlength]="getMinLastNameLength()" [maxlength]="getMaxLastNameLength()">
          <div class="invalid-feedback px-2"
               [class.d-block]="errorMessages.has(lastName.name) && lastName.invalid">{{errorMessages.get(lastName.name)}}</div>
        </div>
      </div>
      <div class="py-2 ">
        <input type="email" class="form-control" placeholder="Email" name="email" [(ngModel)]="regForm.email"
               [class.is-invalid]="email.touched && email.invalid"
               [class.is-valid]="email.touched && email.valid"
               #email="ngModel" email required>
        <div class="invalid-feedback px-2"
             [class.d-block]="errorMessages.has(email.name) && email.invalid">{{errorMessages.get(email.name)}}</div>
      </div>
      <div class="row py-2">
        <div class="col">
          <input type="text" class="form-control" placeholder="Username" name="username"
                 [(ngModel)]="regForm.username"
                 [class.is-invalid]="username.touched && username.invalid"
                 [class.is-valid]="username.touched && username.valid"
                 #username="ngModel" required [minlength]="getMinUsernameLength()" [maxlength]="getMaxUsernameLength()">
          <div class="invalid-feedback px-2"
               [class.d-block]="errorMessages.has(username.name) && username.invalid">{{errorMessages.get(username.name)}}</div>
        </div>
        <div class="col">
          <div class="input-group">
            <input [type]="passwordVisibility ? 'text' : 'password'" class="form-control" placeholder="Пароль"
                   name="password" [(ngModel)]="regForm.password"
                   [class.is-invalid]="password.touched && password.invalid"
                   [class.is-valid]="password.touched && password.valid"
                   #password="ngModel" required [minlength]="getMinPasswordLength()">
            <button class="inp-def-form btn-gray" type="button" (click)="togglePasswordVisibility()">
                <span class="material-icons align-middle material-icons-size-2">
                  {{passwordVisibility ? 'visibility_off' : 'visibility' }}
                </span>
            </button>
          </div>
          <div class="invalid-feedback px-2"
               [class.d-block]="errorMessages.has(password.name) && password.invalid">{{errorMessages.get(password.name)}}</div>
        </div>
      </div>
      <div class="py-2">
        <p class="form-label">Дата народження</p>
        <div class="row">
          <div class="col">
            <select class="form-select" name="dayOfBirth" [(ngModel)]="regForm.dayOfBirth"
                    (change)="validateDateOfBirth(form)"
                    [class.is-invalid]="dayOfBirth.touched && dayOfBirth.invalid"
                    [class.is-valid]="dayOfBirth.touched && dayOfBirth.valid"
                    #dayOfBirth="ngModel" required>
              <option [ngValue]="undefined" [disabled]="true">День</option>
              <option *ngFor="let day of days" [value]="day">{{day}}</option>
            </select>
          </div>
          <div class="col">
            <select class="form-select" name="monthOfBirth" [(ngModel)]="regForm.monthOfBirth"
                    (change)="validateDateOfBirth(form)"
                    [class.is-invalid]="monthOfBirth.touched && monthOfBirth.invalid"
                    [class.is-valid]="monthOfBirth.touched && monthOfBirth.valid"
                    #monthOfBirth="ngModel" required>
              <option [ngValue]="undefined" [disabled]="true">Місяць</option>
              <option *ngFor="let month of months; let i = index" [value]="i + 1">{{month}}</option>
            </select>
          </div>
          <div class="col">
            <select class="form-select" name="yearOfBirth" [(ngModel)]="regForm.yearOfBirth"
                    (change)="validateDateOfBirth(form)"
                    [class.is-invalid]="yearOfBirth.touched && yearOfBirth.invalid"
                    [class.is-valid]="yearOfBirth.touched && yearOfBirth.valid"
                    #yearOfBirth="ngModel" required>
              <option [ngValue]="undefined" [disabled]="true">Рік</option>
              <option *ngFor="let year of years" [value]="year">{{year}}</option>
            </select>
          </div>
        </div>
        <div class="invalid-feedback px-2"
             [class.d-block]="errorMessages.has('dateOfBirth')">{{errorMessages.get('dateOfBirth')}}</div>
      </div>
      <div class="py-2">
        <p class="form-label">Ваша стать</p>
        <div class="row">
          <div class="col">
            <div class="form-check-cst"
                 [class.border-invalid]="sex.touched && sex.invalid"
                 [class.border-valid]="sex.touched && sex.valid"
            >
              <div class="row">
                <div class="col-10">
                  <label class="form-check-label" for="inlineFormCheckMale">чоловік</label>
                </div>
                <div class="col-2">
                  <input type="radio" class="form-check-input" id="inlineFormCheckMale" name="sex" [value]="'MALE'"
                         [(ngModel)]="regForm.sex"
                         [class.is-invalid]="sex.touched && sex.invalid"
                         [class.is-valid]="sex.touched && sex.valid"
                         #sex="ngModel" required>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="form-check-cst"
                 [class.border-invalid]="sex.touched && sex.invalid"
                 [class.border-valid]="sex.touched && sex.valid"
            >
              <div class="row">
                <div class="col-10">
                  <label class="form-check-label" for="inlineFormCheckFemale">жінка</label>
                </div>
                <div class="col-2">
                  <input type="radio" class="form-check-input" id="inlineFormCheckFemale" name="sex"
                         [value]="'FEMALE'" [(ngModel)]="regForm.sex"
                         [class.is-invalid]="sex.touched && sex.invalid"
                         [class.is-valid]="sex.touched && sex.valid"
                         #sex="ngModel" required>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="invalid-feedback px-2"
             [class.d-block]="errorMessages.has(sex.name) && sex.invalid">{{errorMessages.get(sex.name)}}</div>
      </div>
      <div class="py-4 text-center">
        <button class="inp-def-form btn-def me-4" type="button" (click)="onBackClick()">
          <span class="material-icons align-middle material-icons-size-1">arrow_back_ios_new</span>
          На сторінку входу
        </button>
        <input type="submit" class="inp-def-form btn-def" value="Зареєструватися">
      </div>
    </div>
  </form>
</div>
