<div class="container container-def container-log">
  <form #form="ngForm" (ngSubmit)="onSubmit(form)">
    <div class="pt-4 pb-2 text-center">
      <h5>Вхід у Social Network</h5>
    </div>
    <div class="d-flex justify-content-center">
      <div class="w-75">
        <div class="py-2">
          <input name="username" type="text" class="form-control" placeholder="Username" ngModel required>
        </div>
        <div class="py-2">
          <input name="password" type="password" class="form-control" placeholder="Пароль" ngModel required>
        </div>
        <div class="invalid-feedback text-center px-2"
             [class.d-block]="errorMessage">{{errorMessage}}</div>
        <div class="py-2 row">
          <div class="col-5 d-grid">
            <input type="submit" class="inp-def-form btn-def" value="Увійти">
          </div>
          <div class="col-7 d-grid">
            <input type="button" class="inp-def-form btn-def" (click)="onRegClick()" value="Реєстрація">
          </div>
        </div>
        <div class="pb-3 pt-1">
          <a class="link-def" [routerLink]="['/restore']">Забули пароль?</a>
        </div>
      </div>
    </div>
  </form>
</div>
