<div class="container container-def container-restore-mes">
  <form>
    <div class="pt-4 pb-1 text-center">
      <h5>{{title}}</h5>
    </div>
    <div class="d-flex justify-content-center">
      <div class="w-75">
        <div class="text-center text-gray">
          <p>{{text}}</p>
        </div>
        <div class="pt-2 pb-4 text-center">
          <a type="button" class="inp-def-form btn-def text-decoration-none" [routerLink]="['']">Закрити</a>
        </div>
      </div>
    </div>
  </form>
</div>
