
.reset-password-container {
  margin-top: 3rem;
  width: 28rem;
}

.custom-input-button {
  border: #ced4da solid 1px;
  border-radius: 4px;
  color: #6c757d;
}

.custom-input-button:hover {
  color: #565656;
}
