<div class="container container-def container-reset-pass">
  <form #form="ngForm" (ngSubmit)="onSubmit(form)">
    <div class="pt-4 pb-1 text-center">
      <h5>Новий пароль</h5>
    </div>
    <div class="d-flex justify-content-center">
      <div class="w-75">
        <div class="text-center text-gray">
          <p>Вкажіть новий пароль для вашої сторінки.</p>
        </div>
        <div>
          <input type="text" name="restoreKey" [(ngModel)]="resetPasswordRequest.restoreKey"
                 #restoreKey="ngModel" hidden required>
          <div class="invalid-feedback text-center px-2"
               [class.d-block]="errorMessages.has(restoreKey.name) && restoreKey.invalid">{{errorMessages.get(restoreKey.name)}}
          </div>
        </div>
        <div class="py-2">
          <div class="input-group">
            <input [type]="passwordVisibility ? 'text' : 'password'" class="form-control" placeholder="Пароль" name="password" [(ngModel)]="resetPasswordRequest.newPassword"
                   (input)="validateRepeatPassword(form)"
                   [class.is-invalid]="password.touched && password.invalid"
                   [class.is-valid]="password.touched && password.valid"
                   #password="ngModel" required [minlength]="getMinPasswordLength()">
            <button class="inp-def-form btn-gray" type="button" (click)="togglePasswordVisibility()">
              <span class="material-icons align-middle material-icons-size-2">{{passwordVisibility ? 'visibility_off' : 'visibility' }}</span>
            </button>
          </div>
          <div class="invalid-feedback px-2"
               [class.d-block]="errorMessages.has(password.name) && password.invalid">{{errorMessages.get(password.name)}}
          </div>
        </div>
        <div class="py-2">
          <div class="input-group">
            <input [type]="repeatPasswordVisibility ? 'text' : 'password'" class="form-control" placeholder="Підтвердіть пароль" name="repeatPassword" [(ngModel)]="form.value.repeatPassword"
                   (input)="validateRepeatPassword(form)"
                   [class.is-invalid]="repeatPassword.touched && repeatPassword.invalid"
                   [class.is-valid]="repeatPassword.touched && repeatPassword.valid"
                   #repeatPassword="ngModel" required [minlength]="getMinPasswordLength()">
            <button class="inp-def-form btn-gray" type="button" (click)="toggleRepeatPasswordVisibility()">
              <span class="material-icons align-middle material-icons-size-2">{{repeatPasswordVisibility ? 'visibility_off' : 'visibility' }}</span>
            </button>
          </div>

        </div>
        <div class="py-4 text-center">
          <input type="submit" class="inp-def-form btn-def" value="Змінити">
        </div>
      </div>
    </div>
  </form>
</div>
