<div class="container-def container-view-photo p-3">
  <img [src]="photo.photoUri" class="view-photo-item pb-3">
  <div>
    <div class="row">
      <div class="col">
        <span class="ms-2">{{photo.loadTime | date: getDateFormat(photo.loadTime)}}</span>
      </div>
      <div class="col">
        <button class="inp-small-form btn-hidden float-end me-2" type="button" (click)="changePhotoLike()">
          <span class="material-icons align-middle"
                [class.text-red]="photo.like"
                [class.text-gray]="!photo.like"
          >favorite</span>
          <span class="ms-1">{{photo.numOfLikes}}</span>
        </button>
      </div>
    </div>
  </div>
</div>


