<div class="container-header">
  <div class="block-header">
    <div class="row h-100">
      <div class="col-22pr px-def">
        <div>
          <span>Social Network</span>
        </div>
      </div>
      <div class="col-56pr px-def">
        <div>
          <input type="text" class="inp-def-form inp-search" placeholder="Пошук">
        </div>
      </div>
      <div class="col-22pr px-def">
        <input type="button" class="btn-exit-cst float-end" (click)="logout()" value="Вихід">
      </div>
    </div>
  </div>
</div>
